<table class="table mt-5">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Company</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let intern of interns">
            <td>{{intern.id}}</td>
            <td>{{intern.name}}</td>
            <td>{{intern.company}}</td>
            <td>
                <a (click)="editIntern(intern)"><span class="icon-pencil text-success mr-3"></span></a>
                <a (click)="deleteIntern(intern.id)"><span class="icon-bin2 text-danger"></span></a>
            </td>
        </tr>
    </tbody>
</table>