.header-container{
   width: 100%;
    height: 60px;
    margin-bottom: 2rem;
}

.header-container .fas{
    font-size: 2rem;
    margin: 0 1rem;
    cursor: pointer;
}

#task{
    margin:5px 5px;
    font-size: 32px;
}
