<h3>Currency Table</h3>
<table class="table table-hover">
    <thead>
        <th>Currency</th>
        <th>Code</th>
        <th>Currency symbole</th>
    </thead>
    <tbody>
        <tr>
            <td>Japanese yen</td>
            <td>JPY</td>
            <td>{{amount|currency:'JPY'}}</td>
        </tr>
        <tr>
            <td>Pounds</td>
            <td>GBP</td>
            <td>{{amount|currency:'GBP'}}</td>
        </tr>
        <tr>
            <td>Euro</td>
            <td>EUR</td>
            <td>{{amount|currency:'EUR'}}</td>
        </tr>
        <tr>
            <td>US dollar</td>
            <td>USD</td>
            <td>{{amount|currency:'USD'}}</td>
        </tr>
        <tr>
            <td>Indian rupee</td>
            <td>INR</td>
            <td>{{amount|currency:'INR'}}</td>
        </tr>
        <tr>
            <td>South Korean won</td>
            <td>KRW</td>
            <td>{{amount|currency:'KRW'}}</td>
        </tr>
        <tr>
            <td>Chinese yuan</td>
            <td>CNY</td>
            <td>{{amount|currency:'CNY'}}</td>
        </tr>
        <tr>
            <td>Indonesian rupiah</td>
            <td>IDR</td>
            <td>{{amount|currency:'IDR'}}</td>
        </tr>
        <tr>
            <td>Philippine peso</td>
            <td>PHP</td>
            <td>{{amount|currency:'PHP'}}</td>
        </tr>
        <tr>
            <td>Vietnamese dong</td>
            <td>VND</td>
            <td>{{amount|currency:'VND'}}</td>
        </tr>
    </tbody>
</table>