// Global styles goes here
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  letter-spacing: 1.1px;
}

a {
  text-decoration: none;
  color: $black;
}

.main-wrapper {
  position: relative;
  height: 100%;
}

.wrapper {
  height: 100%;
  border: 1px solid;
}

.img {
  max-width: 100%;
}

p {
  margin: 4px 0;
}
