.header-container{
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

.header-container .fas{
    font-size: 2rem;
    color: white;
    margin: 0 1rem;
    cursor: pointer;
}

#task{
    margin:5px 5px;
    font-size: 32px;
    color: white;
}
