@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9epn6c');
  src:  url('fonts/icomoon.eot?9epn6c#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9epn6c') format('truetype'),
    url('fonts/icomoon.woff?9epn6c') format('woff'),
    url('fonts/icomoon.svg?9epn6c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-profile:before {
  content: "\e923";
}
.icon-database:before {
  content: "\e964";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-table:before {
  content: "\ea70";
}
