<div>
    <input type="text" name="" id="">
    <button>Search</button>
    <button (click)="navigateToForm()">Add</button>
</div>
<div>
    <table id="usersTable">
        <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No.</th>
            <th>Gender</th>
            <th>Department</th>
            <th>Date of joining</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of myUsers">
                <td>{{user.firstname+" "+ user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phoneNo}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.department}}</td>
                <td>{{user.doj}}</td>
                <td>
                    <a routerLink="edit/{{user.id}}">Edit</a>
                    <button (click)="deleteUser(user.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
