<div class="header d-flex justify-between">
    <input class="searchbar" type="text" [(ngModel)]="searchText" placeholder="search by name">
    <button class="btn btn-primary ml-1" (click)="navigateToForm()">Add</button>
</div>
<div *ngIf="myUsers" class="mt-5">
    <table class="table table-hover mt-3">
        <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No.</th>
            <th>Gender</th>
            <th>Department</th>
            <th>Date of joining</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of myUsers | userFilter:searchText">    
                <td>{{user.firstname+" "+ user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phoneNo | mask: '(000) 000-0000'}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.department | deptFilter:departments}}</td>
                <td>{{user.doj}}</td>
                <td>
                    <a routerLink="edit/{{user.id}}"><span class="fas fa-user-edit text-success mr-3"></span></a>
                    <a (click)="deleteUser(user.id)"><span class="fas fa-trash text-danger"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="!myUsers">
    No Record found
</div>