<!-- //Module title -->
<div class="header-container d-flex aline-center mb-3">
    <span class="app-title ml-3">User</span>
</div>

<!-- search bar and add btn  -->
<div class="d-flex justify-between">
    <div class="searchbox">
        <input type="text" [(ngModel)]="searchText" placeholder="search by name">
        <span class="fas fa-search"></span>
    </div>
    <button class="btn btn-primary ml-1" (click)="navigateToForm()">+ Add User</button>
</div>

<!-- user list -->
<div *ngIf="myUsers" class="mt-5">
    <table class="table table-hover mt-3">
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No.</th>
            <th>Gender</th>
            <th>Department</th>
            <th>Date of joining</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of myUsers | userFilter:searchText; let i = index">
                <td *ngIf="user && searchText">No Data</td>
                <td>{{i+1}}</td>
                <td>{{user.firstname+" "+ user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phoneNo | mask: '(000) 000-0000'}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.department | deptFilter:departments}}</td>
                <td>{{user.doj}}</td>
                <td>
                    <a routerLink="edit/{{user.id}}"><span class="icon-pencil text-success mr-3"></span></a>
                    <a (click)="deleteUser(user.id)"><span class="icon-bin2 text-danger"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="!myUsers">
    No Record found
</div>