.myheader {
  background-color: #0d47a1;
  height: 60px;
  position: fixed;
  width: 100%;
}

.content-wrapper {
  margin-top: 60px;
  width: 100%;
  height: 100%;
}

.outlet {
  flex-grow: 1;
  padding: 20px;
  overflow: auto;
}
