.container {
  padding: 0.8rem 1rem;
  width: 100%;
  margin-bottom: 0.8rem;
  &-500 {
    padding: 0.8rem 1rem;
    width: 500px;

    @media screen and (max-width: 576px) {
      width: 300px;
    }
  }

  & .border {
    border: 1px solid $border-color;
    border-radius: 0.5rem;
  }
}
