// Form controls styles goes here

.form-group{
  margin-bottom: 1rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  margin: 0.35rem 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid $gray;
  border-radius: 0.25rem;

  &:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.35rem;
}
