.table-container{
  overflow-x: auto;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border: 1px solid $border-color;
  border-radius: 13px;
  border-spacing: 0; //no space between td
  background-color: $white;

  th,
  td {
    border-bottom: 1px solid $border-color;
  }

  & tr:last-child > td {
    border-bottom: none;
  }

  th {
    padding: 0.8rem 1rem;
    text-align: left;
    font-weight: 400;
    letter-spacing: 0;
    color: #b1b1b1;
  }
  td {
    padding: 1.2rem 0.8rem;
    text-align: left;
  }
  tr:hover {
    background-color: rgba(219, 219, 219, 0.3);
  }
  &.clickable {
    tr {
      cursor: pointer;
    }
  }
}
