<div>
    <h2>List of Users</h2>
    <div class="d-flex justify-content-between">
        <div class="searchbox">
            <span class="fas fa-search"></span>
            <input type="text" placeholder="Search User" [formControl]="search">
        </div>
        <div>
            <button class="btn btn-dark mr-3" routerLink="../add">+ Add</button>
            <button class="btn btn-dark" (click)="openFilter()">Filter</button>
        </div>
    </div>
</div>

<div class="table-container mt-4">
    <table class="table mt-3">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone No.</th>
                <th>Gender</th>
                <th>Department</th>
                <th>Date of joining</th>
                <th>isPermanent</th>
                <th>isMarried</th>
                <th>isAvailable</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList; let i = index">
                <td><input type="checkbox" name="user.id"></td>
                <td>{{i+1}}</td>
                <td>{{user.firstname +" "+user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phoneNo}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.department | deptFilter:_departmentList}}</td>
                <td>{{user.doj}}</td>
                <td>{{user.isPermanent | boolenConverter}}</td>
                <td>{{user.isMarried | boolenConverter}}</td>
                <td>{{user.isAvailable | boolenConverter}}</td>
                <td>
                    <a routerLink="../edit/{{user.id}}"><span class="icon-pencil text-success mr-3"></span></a>
                    <a (click)="onDeleteUser(user.id)"><span class="icon-bin2 text-danger"></span></a>
                </td>
            </tr>
            <!-- <tr *ngIf="tempUserList.length == 0">
                <td>
                    No Record found
                </td>
            </tr> -->
        </tbody>
    </table>
</div>