.form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

label {
  cursor: pointer;
}

.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 16px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputSkill {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 16px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

option {
  padding: 12px 20px;
}

input[type="radio"],
#terms {
  margin: 8px;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  font-size: 22px;
  letter-spacing: 1.5px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:disabled {
  background-color: gray;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="reset"] {
  width: 100%;
  background-color: #af4c4c;
  color: white;
  padding: 14px 20px;
  font-size: 22px;
  letter-spacing: 1.5px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: #a04545;
}

.text-danger {
  color: red;
}
