/* .form-container{
    width: 350px;
    margin: 0 auto;
} */

.skillfield {
  width: 30%;
}

.expfield,
.edufield {
  width: 80%;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .skillfield,
  .expfield,
  .edufield {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .skillfield,
  .expfield,
  .edufield {
    width: 100%;
  }
}
