<aside class="sidebar-wrapper d-flex col">
  <header class="header d-flex aline-center justify-center">
    <figure>
      <img class="img" src="../assets/img/Angularlogo.png" alt="" srcset="" />
    </figure>
  </header>
  <nav class="sidebar">
    <ul>
      <li><a routerLink="data-binding" routerLinkActive="active"><span class="icon-database mr-2"></span>Data Binding</a></li>
      <li><a routerLink="directive-pipes" routerLinkActive="active"><span class="icon-table mr-2"></span>Currency & Product Table</a></li>
      <li><a routerLink="profile" routerLinkActive="active"><span class="icon-pencil mr-2"></span>Reactive Form</a></li>
      <li><a routerLink="users" routerLinkActive="active"><span class="icon-user-plus mr-2"></span> Users</a></li>
      <li><a routerLink="resumebuilder" routerLinkActive="active"><span class="icon-profile mr-2"></span>Resume Builder</a></li>
      <li><a routerLink="employees" routerLinkActive="active"><span class="icon-user-plus mr-2"></span>Employees</a></li>
    </ul>
  </nav>
  <footer class="footer d-flex aline-center justify-center">
    <span class="fas fa-sign-out"></span><span class="ml-2">Log out</span>
  </footer>
</aside>