<aside class="mySidebar">
  <nav class="nav">
    <ul>
      <li><a routerLink="data-binding" routerLinkActive="active">Data Binding</a></li>
      <li><a routerLink="directive-pipes" routerLinkActive="active">Currency & Product Table</a></li>
      <li><a routerLink="profile" routerLinkActive="active">Profile</a></li>
      <li><a routerLink="users" routerLinkActive="active">Users</a></li>
      <li><a routerLink="Resume-Builder" routerLinkActive="active">Resume Builder</a></li>
    </ul>
  </nav>
</aside>