
.sidebar-wrapper .sidebar ul {
  list-style: none;
  padding: 0 10px;
}
.sidebar-wrapper .sidebar li {
  padding: 6px;
}
.sidebar-wrapper .sidebar a {
  display: block;
  width: 100%;
  padding: 12px 18px;
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  cursor: pointer;
} 

.sidebar-wrapper .sidebar a:hover {
  background-color: #f7f4ff;
  border-radius: 5px;
}

.sidebar-wrapper .sidebar a.active {
  background-color: #eaedfc;
  color: #2f55e5;
  border-radius: 5px;
}

.sidebar-wrapper{
  position: relative;
  height: 100%;
  max-width: 280px;
}

.sidebar-wrapper .sidebar{
  flex-grow: 1;
  margin-top: 20px;
  overflow: auto;
}
.header{
  flex-shrink: 0;
  width: 100%;
  background-color: #ffffff;
  height: 60px;
  border-bottom: 1px solid #bfbfc1;
}

.header img{
  height: 40px;
}

.footer{
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0;
  background-color: #ffffff;
  color: black;
  border-top: 1px solid #bfbfc1;
}

.footer .fas{
  font-weight: 100;
  font-size: 2rem;
  cursor: pointer;
}