.sidebar-wrapper {
  position: relative;
  height: 100%;
  width: 280px;
  border-right: 1px solid #eeeff1;
  transition: 0.6s all ease;

  .sidebar {
    flex-grow: 1;
    margin-top: 20px;
    overflow: auto;

    ul {
      list-style: none;
      padding: 0 6px;
      li {
        padding: 3px;
        a {
          display: flex;
          align-items: center;
          width: 100%;
          height: 45px;
          padding: 0px 18px;
          font-size: 18px;
          text-decoration: none;
          text-transform: capitalize;
          color: #3b3b3b;
          cursor: pointer;
          overflow: hidden;
          white-space: nowrap;

          &:hover,
          &.active {
            background-color: #f7f4ff;
            color: #2f55e5;
            border-radius: 8px;
            .icon {
              color: #335cf3;
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}

.icon {
  color: #bebfc4;
  font-size: 22px;
}

.header {
  flex-shrink: 0;
  padding: 0 1.6rem;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #eeeff1;
  white-space: nowrap;

  img {
    height: 40px;
  }
}

.footer {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0;
  color: #252525;
  border-top: 1px solid #eeeff1;
  white-space: nowrap;
}
.far {
  color: $primary;
  font-weight: 100;
  font-size: 2rem;
  cursor: pointer;
}

#menu-btn {
  display: none;
}

#menu-btn:checked ~ .sidebar-wrapper {
  width: 80px;
  .far {
    color: $dark;
  }
  .logo {
    display: none;
  }
  .link-name {
    display: none;
  }
}
