/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,500&display=swap');
//==============================colors========================================
$black: #000000;
$dark: #343a40;
$white: #ffffff;
$outline: #f0f0f0;
$primary: #2f55e5;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;

$colors-map:(
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body{
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
  letter-spacing: 1.1px;
}

a{
  text-decoration: none;
  color: $black;
}

.main-wrapper {
  height: 100%;
}

.wrapper {
  height: 100%;
  border: 1px solid;
}

.container{
  width: 100%;
  padding: .8rem 1rem;
}

.img{
  max-width: 100%;
}

.app-title{
  font-size: 32px;
  font-weight: 600;
}

//============================================= flex style ============================================
.d-flex {
  display: flex;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.aline-item-center {
  align-items: center;
}

.aline-item-start {
  align-items: flex-start;
}

.aline-item-end {
  align-items: flex-end;
}

.aline-item-baseline {
  align-items: baseline;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink{
  flex-shrink: 0;
}

//text 

@each $key, $value in $colors-map {
  .text-#{$key}{
    color: $value;
  }
}

//===============================================spacing=======================================================
//===============================================margin========================================================

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-4 {
  margin-right: 1.5rem;
}

.mr-5 {
  margin-right: 3rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 1rem;
}

.ml-4 {
  margin-left: 1.5rem;
}

.ml-5 {
  margin-left: 3rem;
}

//================================================padding==============================================

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pr-4 {
  padding-right: 1.5rem;
}

.pr-5 {
  padding-right: 3rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pl-4 {
  padding-left: 1.5rem;
}

.pl-5 {
  padding-left: 3rem;
}

//==============================================button===================================================
.btn {
  display: inline-block;
  color: $white;
  background-color: $dark;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  line-height: 1.5;
  font-size: 1rem;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid transparent;
  border-radius: 0.3rem;

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.98);
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary {
  color: #fff;
  background-color: $primary;
}

.btn-secondary {
  color: #fff;
  background-color: $secondary;
}

.btn-danger {
  color: #fff;
  background-color: $danger;
}

.btn-success {
  color: #fff;
  background-color: $success;
}

.btn-warning {
  color: #fff;
  background-color: $warning;
}

.btn-info {
  color: #fff;
  background-color: $info;
}

// ================================== outline btn ===============================================
.btn-outline-primary {
  color: $primary;
  border-color: $primary;
  background-color: transparent;

  &:hover {
    color: $white;
    border-color: $primary;
    background-color: $primary;
  }
}

.btn-outline-secondary {
  color: $secondary;
  border-color: $secondary;
  background-color: transparent;

  &:hover {
    color: $white;
    border-color: $secondary;
    background-color: $secondary;
  }
}

.btn-outline-danger {
  color: $danger;
  border-color: $danger;
  background-color: transparent;

  &:hover {
    color: $white;
    border-color: $danger;
    background-color: $danger;
  }
}

.btn-outline-success {
  color: $success;
  border-color: $success;
  background-color: transparent;

  &:hover {
    color: $white;
    border-color: $success;
    background-color: $success;
  }
}

.btn-outline-warning {
  color: $warning;
  border-color: $warning;
  background-color: transparent;

  &:hover {
    color: $white;
    border-color: $warning;
    background-color: $warning;
  }
}

.btn-outline-info {
  color: $info;
  border-color: $info;
  background-color: transparent;

  &:hover {
    color: $white;
    border-color: $info;
    background-color: $info;
  }
}

//-------------------form constrols-------------------------------------
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  margin: 0.25rem 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;

  &:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
}

/* table style */
.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-radius: 16px;
  border-color: #dee2e6;
  background-color: white;

  .clickable{
    tr{
      cursor: pointer;
    }
  }
  th {
    padding: 16px;
    text-align: left;
    border-bottom: 2px solid;
    color: #a1a1a1;
  }
  td {
    padding: 16px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
  }
  tr:hover {
    background-color: rgba(219, 219, 219, 0.3);
  }
  &.clickable {
    tr {
      cursor: pointer;
    }
  }
}
