/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  height: 100%;
}

.d-flex {
  display: flex;
}

.aline-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.col {
  flex-direction: column;
}

.img {
  max-width: 100%;
}
.mr-1 {
  margin-right: 16px;
}

.mt-1 {
  margin-top: 16px;
}

.mb-1 {
  margin-bottom: 16px;
}

.ml-1 {
  margin-left: 16px;
}
